/* ----------------Box Sizing--------------- */

html{
    box-sizing: border-box;
}
    *,
    *:before,
    *::after {
     box-sizing: inherit;
}
/* ---------------Global Styles--------------- */

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Nanum Gothic', sans-serif;
    margin:0;
}


.header{
    background-color: #d4af37;
    background-image: url("BIPOCPhotographersinArkansas(1).png");
    background-color: #8b4513;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.header h1{
    font-size: 2.5rem;
    margin: 20px 0 10px;
}