header.primary{
  text-align:center;
  background-color: pink;
  background-image: linear-gradient(to right, purple , pink, yellow);
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}


header.primary h1{
  text-align:center;
  color:white;
  font-family: 'Lucida Handwriting', cursive;
}

#intro.container h2{
  text-align:center;
}

#intro.container img{
  border: solid 5px purple;
  border-radius: 5px;;
}

#colophon{
  text-align:center;
  background-color: pink;
  background-image: linear-gradient(to right, purple , pink, yellow);
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

#colophon h6{
  color:white;
  font-size:20px;
  font-family:'Lucida Handwriting', cursive;
}