/* Home Page */
.header{
  display:flex;
  background-color: #7B3F00;
}

.logo img{
  width:150px;
  height:150px;
  float:left;
  margin-left:125px;
}

.header-right a{
  float:right;
  color:white;
  text-decoration:none;
  font-size:25px;
  padding-top:60px;
  padding-left:150px;
  font-family: 'Meldina', sans-serif; 
}

.portrait{
  width:370px;
  height:100%;
  border-radius: 20%;
  border:solid 3px #7B3F00;
}

.home{
  height:600px;
  padding:20px;
  margin-left:40px;
  margin-right:40px;
  display:flex;
  align-items:center;
  gap:20px;
}

.home h1.title{
  font-size:80px;
  color:#7B3F00;
  font-family: 'Meldina', sans-serif;   
}

/* About Page */
.about-heading{
  text-align: center;
  color:#7B3F00;
  font-size: 40px;
  font-family: 'Meldina', sans-serif;         
}

/* Portfolio Page */

.portfolio-heading{
  text-align:center;
  font-size:40px;
  color:#7B3F00;
  font-family: 'Meldina', sans-serif;   
}

/* Pricing Page */

* {
    box-sizing: border-box;
  }

.pricing-heading{
  text-align: center;
  color:#7B3F00;
  font-size:40px;
  font-family: 'Meldina', sans-serif;   
}

h2{
    text-align:center;
    color: #7B3F00;
}

h3{
    text-align: center;
    color:#7B3F00
}

p{
    text-align:center;
    color:#7B3F00;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }

  .price {
    list-style-type: none;
    border: 1px solid #C19A6B;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgb(193, 154, 107)
  }
  
  .price .header {
    background-color: #7B3F00;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #C19A6B;
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

  #colophon{
    overflow:hidden;
    padding:20px 10px;
    background-color: #7B3F00;
  }

  #colophon{
    color:white;
    font-size:25px;
    text-align:center;
    font-family: 'Meldina', sans-serif; 
  }

/* Contact Page */