/* Home Page */

nav{
  padding:10px 30px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background:#7B3F00;
  position:relative;
  height:120px;
}

.logo{
  width:100px;
  height:100px;
}

nav ul{
  display:flex;
  gap:30px;
  align-items:center;
}

nav ul li{
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  color:white;
  font-family: 'Meldina', sans-serif;  
  font-size:20px;
}

.menu-icon{
  display:none;
}

.menu-icon i{
  color:white;
  font-size:30px;
}

@media (max-width:600px){
  nav ul{
    position:absolute;
    top:70px;
    left:0;
    right:0;
    flex-direction:column;
    text-align:center;
    background:#7B3F00;
    gap:0;
    overflow:hidden;
  }
  nav ul li{
    padding:20px;
  }
  .menu-icon{
    display:block;
  }
  #menuList{
    transition:all 0.5s
  }
}

.portrait{
  width:400px;
  height:100%;
  border-radius:50%;
  border: 10px solid  #7B3F00;
}

.home{
  height:600px;
  padding:20px;
  margin-left:40px;
  margin-right:40px;
  display:flex;
  align-items:center;
  gap:20px;
}

.home h1.title{
  font-size:100px;
  color:#7B3F00;
  font-family: 'Meldina', sans-serif;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home h1.title {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
  }
}

@media (max-width:600px){
  .home{
  position:absolute;
  flex-direction:column;
  }
}

/* About Page */
.about-heading{
  text-align: center;
  color:#7B3F00;
  font-size: 40px;
  font-family: 'Meldina', sans-serif;         
}

.about{
  min-height:100vh;
  width:100%;
  padding:78px 0px;
}

.about img{
  border: 10px solid #7B3F00;
  height: auto;
  width:50%;
  border-radius: 50%;
  margin-right:5em;
  margin-left:5em;
}

.main{
  width:1200px;
  max-width:95%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content: space-around;
}

.about-text h3{
  color:#7B3F00;
  font-size:50px;
  text-transform: capitalize;
  margin-bottom:20px;
  font-family: 'Meldina', sans-serif;
}

.about-text p{
  color:#7B3F00;
  letter-spacing: 0.5px;
  line-height:28px;
  font-size: 18px;
  margin-bottom:45px;
}

button{
  background:transparent;
  color:#7B3F00;
  font-size:14px;
  text-decoration:none;
  border:2px solid #7B3F00;
  font-weight: bold;
  padding:13px 30px;
  border-radius:50%;
  transition: .4s ease;
  font-family: 'Meldina', sans-serif;
}

button a{
  text-decoration:none;
  color:#7B3F00;
}

button a:hover{
  color:white;
}

button:hover{
  background: #7B3F00;
  color:white;
  border:2px solid #7B3F00;
  cursor: pointer;
  transform:scale(1.1);
}

.resume{
  margin-left: 0.5em;
}

.work{
  margin-left:0.5em;
}

.about-text a img{
  width:30px;
  height:30px;
  border-style: none;
}


.social{
  font-size:16px;
  font-family: 'Meldina', sans-serif;
  display:flex;
  justify-content: center;
  margin-top:30px;
}

.social a{
  margin-top: 15px;
  text-decoration: none;
  color: #7B3F00;
}

hr{
  border:5px solid #7B3F00;
  width:85%;
  margin:auto;
}

.skills-heading{
  font-size: 40px;
  font-family: 'Meldina', sans-serif; 
}

h4{
  margin:5px;
}

#skill1{
  margin-top:50px;
}

.skill{
  width:500px;
  margin:60px auto;
  color:#7B3F00;
  padding:20px;
  box-shadow: 0 14px 28px #7B3F00, 0 10px 10px #7B3F00;
}

.skill li{
  margin:20px 0;
  padding:10px;
  list-style: none;
}


.bar{
  background: white;
  display:block;
  height:20px;
  border-radius: 10px;
  overflow:hidden;
  box-shadow: 0 1px 3px #7B3F00, 0 1px 2px #7B3F00;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}


.bar:hover{
  box-shadow: 0 14px 28px #7B3F00, 0 10px 10px #7B3F00;
}

.bar span{
  height:20px;
  float:left;
  background:linear-gradient(135deg,#7B3F00 0%,#7B3F00 100%);
}

.creativity{
  width:95%;
  animation: creativity 3s;
}

.empathy{
  width:85%;
  animation: empathy 3s;
}

.organize{
  width:80%;
  animation: organize 3s;
}

.problem{
  width:89%;
  animation: problem 3s;
}

.work-ethic{
  width:90%;
  animation: work-ethic 3s;
}

@keyframes creativity{
  0%{
    width:0%;
  }
  100%{
    width:95%;
  }
}

@keyframes empathy{
  0%{
    width:0%;
  }
  100%{
    width:85%;
  }
}

@keyframes organize{
  0%{
    width:0%;
  }
  100%{
    width:80%;
  }
}

@keyframes problem{
  0%{
    width:0%;
  }
  100%{
    width:89%;
  }
}

@keyframes work-ethic{
  0%{
    width:0%;
  }
  100%{
    width:90%;
  }
}

.design{
  width:95%;
  animation: creativity 3s;
}

.ui-ux{
  width:80%;
  animation: ui-ux 3s;
}

.html{
  width:100%;
  animation: html 3s;
}

.css{
  width:86%;
  animation: css 3s;
}

.java{
  width:45%;
  animation: java 3s;
}

@keyframes design{
  0%{
    width:0%;
  }
  100%{
    width:95%;
  }
}

@keyframes ui-ux{
  0%{
    width:0%;
  }
  100%{
    width:86%;
  }
}

@keyframes html{
  0%{
    width:0%;
  }
  100%{
    width:100%;
  }
}

@keyframes css{
  0%{
    width:0%;
  }
  100%{
    width:86%;
  }
}

@keyframes java{
  0%{
    width:0%;
  }
  100%{
    width:45%;
  }
}

@media (max-width:600px){
  .main{
  position:absolute;
  flex-direction:column;
  }
  .about-text h3{
    font-size: 20px;
  }
  .about-text p{
    font-size: 12px;
  }
  button{
    font-size:8px;
    align-items: center;
    margin-left:25px;
  }
}

@media (max-width:600px){
  hr{
    margin-top:120px;
  }
}

/* Portfolio Page */

.portfolio-heading{
  text-align:center;
  font-size:40px;
  color:#7B3F00;
  font-family: 'Meldina', sans-serif;
}

img{
  max-width:100%;
}

.filterDiv {
  float:left;
  color: #7B3F00;
  width: 200px;
  line-height: 50px;
  font-family:'Times New Roman', Times, serif;   
  text-align: center;
  margin:10px;
  display: none;
  padding-left:40px;
  
}

.filterDiv img{
  box-shadow: 10px 10px 5px #C19A6B;
}

.show {
  display: block;
}

.work-container {
  margin-top: 20px;
  margin-bottom:100px;
  display:flex;
  flex-flow: row wrap;
  overflow:hidden;
}


#myBtnContainer{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  gap:10px;
}

/* Style the buttons */
.btn {
  border: 2px solid #7B3F00;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #7B3F00;
}

.btn.active {
  background-color: white;
  color: #7B3F00;
}
             

/* Pricing Page */

* {
    box-sizing: border-box;
  }

.pricing-heading{
  text-align: center;
  color:#7B3F00;
  font-size:40px;
  font-family: 'Meldina', sans-serif;   
}

h2{
    text-align:center;
    color: #7B3F00;
}

h3{
    text-align: center;
    color:#7B3F00;
}

p{
    text-align:center;
    color:#7B3F00;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }


  .price {
    list-style-type: none;
    border: 1px solid #C19A6B;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgb(193, 154, 107)
  }
  
  .price .header {
    background-color: #7B3F00;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    color:#7B3F00
  }
  
  .price .grey {
    background-color: #C19A6B;
    font-size: 20px;
    color:white;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }


/* Contact Page */

.link{
  border-radius:15px;
}

/* Footer */

#colophon{
  overflow:hidden;
  padding:20px 10px;
  background-color: #7B3F00;
}

#colophon h6{
  color:white;
  font-size:10px;
  text-align:center;
  font-family: 'Meldina', sans-serif; 
}